.corrected-age-calculator {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  direction: rtl;

  h1 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--blue);
    text-align: center;
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-regular);
        color: var(--blue);
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        font-size: var(--font-size-medium);
        border: 1px solid var(--gray);
        border-radius: 5px;
        box-sizing: border-box;
      }

      span {
        font-size: var(--font-size-small);
        color: var(--green);
        margin-top: 5px;
      }

      &.gestation-input {
        .gestation-inputs {
          display: flex;
          gap: 10px;
          width: 100%;

          input {
            flex: 1;
            min-width: 0; // This allows the input to shrink below its default size
            width: 50%; // Set both inputs to take up equal width
          }

          // Remove the different flex values for week and day inputs
          // #gestation-week, #gestation-days {
          //   flex: 1;
          // }
        }
      }
    }

    button {
      padding: 10px 20px;
      font-size: var(--font-size-medium);
      color: var(--white);
      background-color: var(--green);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--green);
        filter: brightness(90%);
        // background-color: darken(var(--green), 10%);
      }
    }
  }

  .result {
    margin-top: 20px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--green);
    text-align: center;
  }

  .rtl-datepicker {
    direction: rtl;
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-medium);
    border: 1px solid var(--gray);
    border-radius: 5px;
    box-sizing: border-box;
  }

  .react-datepicker-wrapper, 
  .react-datepicker-wrapper input {
    width: 100%;
  }

  @media (max-width: 480px) {
    .form {
      .form-row {
        &.gestation-input {
          .gestation-inputs {
            gap: 5px; // Reduce gap on small screens

            input {
              font-size: 14px; // Slightly smaller font on mobile
              padding: 8px; // Slightly smaller padding on mobile
            }
          }
        }
      }
    }
  }
}
