.drugs-header {
  color: white;
  background-color: #103C6E;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.bold-text {
    font-weight: bold;
}

.tooltip-not-bootstrap {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background-color: #B9EDE7;
    color: black;
    padding: 8px;
    border-radius: 15px;
    white-space: normal;
    z-index: 1000;
  }

  .tooltip-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
  }