<div style="direction: ltr;" ng-if="!!ctrl.weight">
  <h4 class="drugs-header" ng-click="ctrl.toggleDrips()">
    <span class="toggle-icon">
      <span ng-show="!ctrl.dripsExpanded">+</span>
      <span ng-show="ctrl.dripsExpanded">-</span>
    </span>
    <span class="section-name">Drips</span>
  </h4>
  <div ng-hide="!ctrl.dripsExpanded" id="collapseable-area-drips" class="collapseable">
    <ul class="list-group" ng-repeat="drip in ctrl.dripsDefinitions track by $index">
      <li class="list-group-item">
        <div style="display: flex; justify-content: space-between; text-align: left; color: var(--page-font-color);">
          <span>
            <span ng-if="drip.calc_type==='DilutionInstructions'">
              {{drip.name}}:
              <b> {{ctrl.calcDilutionPerKg(drip).doseForDilution}} {{ctrl.calcDilutionPerKg(drip).unitsForDilution}}</b>
              in
              <b>{{drip.default_dilution_volume_ml}} ml</b>
              ({{ctrl.getTargetVolumePerHour(drip)}}ml/Hr)
            </span>
            <span ng-if="drip.calc_type==='InfusionSpeed'">
              {{drip.name}}:
              <b>{{ctrl.calcInfusionSpeed(drip)}}ml/Hr</b>
              (existing concentration of {{drip.existing_dilution_concentration}}
              {{drip.existing_dilution_concentration_dose_unit}}/ml)
            </span>
            <br>
            Initial rate: {{ctrl.getDripRate(drip)}} {{drip.dose_unit}}/kg/{{ctrl.getTimeUnitString(drip)}}
            <br>  Rate range: {{drip.allowed_dose_range}}
          </span>
          <div data-bs-toggle="modal" data-bs-target="#infoModal1_drips_{{$index}}" class="info-button">
            <i class="fa-solid fa-circle-info" style="margin-left: 10px; cursor: pointer;" ></i>
          </div>
          <div class="modal fade" id="infoModal1_drips_{{$index}}" tabindex="-1"
            aria-labelledby="infoModalLabel_drips_{{$index}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header green">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <h5 class="modal-title" id="infoModalLabel_drips_{{$index}}"><b>{{drip.name}}</b> Drips
                  </h5>
                </div>
                <div ng-if="drip.calc_type==='DilutionInstructions'" class="modal-body">
                  <b>Initial rate:</b> {{ctrl.getDripRate(drip)}} {{drip.dose_unit}}/kg/{{
                    ctrl.getTimeUnitString(drip) }}<br />
                  <b>Rate range:</b> {{drip.allowed_dose_range}}
                </div>
                <div ng-if="drip.calc_type==='InfusionSpeed'" class="modal-body">
                  <b>Initial rate:</b> {{ctrl.getDripRate(drip)}} {{drip.dose_unit}}/kg/{{
                  ctrl.getTimeUnitString(drip) }}<br />
                  <b>Rate range:</b> {{drip.allowed_dose_range}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>