<div ng-repeat="section in ctrl.drugsData.sections track by $index " style="direction: ltr;" ng-if="!!ctrl.weight">
  <h4 class="drugs-header" ng-click="ctrl.toggleSection($index)">
    <span class="toggle-icon">
      <span ng-show="!section.$isExpanded">+</span>
      <span ng-show="section.$isExpanded">-</span>
    </span>
    <span class="section-name">{{section.name}}</span>
  </h4>
  <div ng-show="section.$isExpanded">
  <ul class="list-group" ng-repeat="drug in section.drugs track by $index">
    <li class="list-group-item">
      <div style="display: flex; justify-content: space-between; text-align: left; color: var(--page-font-color);">
        <span>
          <div ng-if="!drug.type">
            {{drug.name}}: <b>{{ctrl.getDoseByWeightWithMaxLimitFormatted(drug)}} {{drug.dose_unit}},</b>
            <b>{{ctrl.calcAmountToAdminister(drug)}} {{ctrl.getAdministrationUnit(drug)}}</b> - <span
              ng-class="{'bold-text': drug.howToGive && drug.howToGive.trim() !== 'IV'}">{{drug.howToGive}}</span>
          </div>
          <div ng-if="!!drug.type">
            {{drug.name}}: <b>{{ctrl.calcAmountToAdminister(drug)}} {{ctrl.getAdministrationUnit(drug)}}</b> - <span
              ng-class="{'bold-text': drug.howToGive && drug.howToGive.trim() !== 'IV'}">{{drug.howToGive}}</span>
          </div>
          Calculated Dose: {{drug.dose_per_kg}} {{drug.dose_unit}}/kg<br />
          <div ng-if="ctrl.shouldDispalyConcentration(drug)">
            Concentration: <b>{{ctrl.splitRatio(drug.concentration)[0]}} {{drug.dose_unit}} per
              {{ctrl.splitRatio(drug.concentration)[1]}} ml </b>
          </div>
          <div ng-if="!!drug.maxDose && drug.maxDose==ctrl.getDoseByWeightWithMaxLimit(drug)">
            <span style="color:red;"><b>Used max dose of {{drug.maxDose}}&nbsp;{{drug.maxDoseUnit}}</b></span>
          </div>
        </span>
        <i class="fa-solid fa-circle-info" style="margin-left: 10px; cursor: pointer;" data-bs-toggle="modal"
          data-bs-target="#infoModal1_{{$index}}{{$parent.$index}}"></i>
        <div class="modal fade" id="infoModal1_{{$index}}{{$parent.$index}}" tabindex="-1"
          aria-labelledby="infoModalLabel__{{$index}}{{$parent.$index}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header green">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="infoModalLabel_{{$index}}{{$parent.$index}}"><b>{{drug.name}}</b>
                </h5>
              </div>
              <div class="modal-body">
                <b>Dosage Used: </b>{{drug.dose_per_kg}} {{drug.dose_unit}}/kg<br />
                <div ng-if="!!drug.dose_range"><b>Dosage Range: </b>{{drug.dose_range}}<br /></div>
                <div ng-if="!!drug.prepare_instructions">
                  <b>Dilution Instructions: </b>
                  {{ drug.prepare_instructions }}<br/>
                </div>
                <div ng-if="!!drug.maxDose">
                  <b>Max Dose: </b>
                  {{drug.maxDose}}&nbsp;{{drug.maxDoseUnit}}<br/>
                </div>
                <div ng-if="!!drug.minDose">
                  <b>Min Dose: </b>
                  {{drug.minDose}}&nbsp;{{drug.minDoseUnit}}<br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>