.form-group {
    margin-top: 20px;
}

.input-col {
    max-width: 120px;
}

.col-auto-text-cols {
    min-width: 130px;
}

.col-auto-buttons-cols {      
    min-width: 130px;
}


.reset-button {
    margin-left: 10px;
    display: grid;
    align-items: center;
    justify-content: left;
    height: calc(1.4rem + 1.5vw);
    width: calc(1.4rem + 1.5vw);
    cursor:pointer;
    margin-right:10px;
  }

  .group-container .form-group .form-check {
    display: inline-block; /* Ensures form checks are displayed in line */
    margin-right: 1rem; /* Adjust margin between form checks */
  }
  
  .cards-container {
      width: 100%; /* Set a width */
      margin: 0 auto; /* Set margin to auto */
      text-align: left;
  }
  
  .form-group {
      margin-top: 20px;
  }

  .back-button {
    float: right;
    margin: 5px;    
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: 30px;
    color: var(--page-font-color);
  }
  .back-button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }

  .back-button-img {
    width: 30px;
    height: 30px;
  }

  .circle {
    display: inline-block;
    width: 0.65em; /* Set the width and height to be the same as the font size */
    height: 0.65em;
    border-radius: 50%; /* Create a circle using border-radius */    
    margin-left: 10px;
  }
