:root {
    --bs-primary-bg-subtle: #6585A0;
  }
  
  .protocol-section {
    margin-bottom: 1rem;
  }
  
  .protocol-header {
    background-color: #103C6E;
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .protocol-body {
    padding: 1rem;
    border-top: none;
  }
  
  .list-group-item:last-child {
    border-radius: 0px;
  }
  
  .dropdown-item {
    font-weight: bold;
  }
  
  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 2px solid #e5e7eb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-decoration: none;
    transition: box-shadow 0.3s ease, border 0.3s ease;
  }
  
  .button:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-color: #d1d5db;
  }
  
  .icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .text {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--bs-heading-color);
  }
  
  @media (min-width: 640px) {
    .buttons-wrapper {
      flex-direction: row;
    }
  }
  
  .accordion-button:not(.collapsed) {    
    box-shadow: none !important;
  }
  
  .accordion-button:focus {
    box-shadow: none !important;
    border-color: rgba(0,0,0,.125) !important;
  }
  
  .accordion-item {
    border-color: rgba(0,0,0,.125) !important;
  }
  
  /* New styles for PDF links with Font Awesome icons */
  .pdf-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .pdf-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  
  .pdf-link i {
    font-size: 80px;
    margin-bottom: 0.5rem;
  }

  .pdf-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 150px; /* Add this line */
  }
  
  .pdf-link span {
    font-weight: bold;
    color: #103C6E;
    text-align: center; /* Add this line */
    width: 100%; /* Add this line */
  }